/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
    --nav-width: 300px;
}
@media screen {
    body {
        padding-left: var(--nav-width);
    }

    app-print-recipe + app-print-recipe {
        display: none;
    }
}

@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }

    app-print-recipe-container {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
    }

    app-print-recipe {
        display: block;
        height: 50vh;
        width: 100vw;
        padding: 1cm;
        font-family: serif;
    }
}

nav {
    background-color: #eee;
    margin-left: calc(-1 * var(--nav-width));
    height: 100vh;
    width: var(--nav-width);
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}