/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
    --nav-width: 300px;
}
@media screen {
    body {
        padding-left: var(--nav-width);
    }
}

@media print {
    @page {
        size: A4 landscape;
    }
}

nav {
    background-color: #eee;
    margin-left: calc(-1 * var(--nav-width));
    height: 100vh;
    width: var(--nav-width);
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

app-print-recipe {
    page-break-after: always;
}