/* You can add global styles to this file, and also import other style files */

$enable-print-styles: false;

@import "bootstrap/scss/bootstrap.scss";
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
    --nav-width: 300px;
}

@media screen {
    body {
        padding-left: var(--nav-width);
    }

    app-print-recipe + app-print-recipe {
        display: none;
    }
}

@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }

    app-root {
        display: block;
    }

    app-print-recipe-container {
        display: block;
    }

    markdown {
        display: block;
    }

    app-print-recipe {
        display: block;
        height: 50vh;
        width: 100vw;
        padding: 1cm;
        font-family: serif;
        font-size: 8pt;
        line-height: 1.3em;
    }

    .recipe-border {
        border: 1pt solid black;
        height: 100%;
        padding: 5mm;
    }

    h1 {
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 6pt;
    }
    
    h2 {
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 5pt;
    }

    h3 {
        font-size: 8pt;
        font-weight: bold;
        margin-bottom: 0;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        margin-left: -2mm;
        margin-right: -2mm;
    }

    .col {
        padding-left: 2mm;
        padding-right: 2mm;
    }

    ol, ul {
        padding-inline-start: 5mm;
    }
}

nav {
    background-color: #eee;
    margin-left: calc(-1 * var(--nav-width));
    height: 100vh;
    width: var(--nav-width);
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}